appnope==0.1.0
cycler==0.10.0
decorator==4.0.9
gnureadline==6.3.3
ipython==4.1.2
ipython-genutils==0.1.0
matplotlib==1.5.1
numpy==1.10.4
path.py==8.1.2
pbr==1.8.1
pexpect==4.0.1
pickleshare==0.6
powerline-status===2.3.dev9999-git.d611cc2e439e02a123b4f208767c8dc5f72ce567
ptyprocess==0.5.1
pyparsing==2.1.0
python-dateutil==2.5.0
pytz==2015.7
requests==2.9.1
simplegeneric==0.8.1
six==1.10.0
stevedore==1.12.0
traitlets==4.1.0
virtualenv==15.0.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
wheel==0.26.0
