/* can probably add this to base or something */
select{
    background-color: #272B3D;
    color: #FFFFFD;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 5px;
    border-radius: 10px; /* can round select, cannot format/round options...LOL */
}
select:hover{
    background-color: #373B4D
}