/**********************************************
 GENERAL
**********************************************/
/* fonts */
body {
  font-family: 'Open Sans', sans-serif;
}

h3 {
  margin: 0 0 1em 0;
}

/* site background and text color */
a {
  text-decoration: none;
  color: #6ab47b;
}

img {
  max-width: 100%;

}
/* center wrapper for gallery section */
#wrapper {
  max-width: 940px;
  margin: 0px auto;
  padding: 0 5%;
}

/**********************************************
 HEADING
**********************************************/
header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

/* center page title */
#header {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Changa One', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
}



/**********************************************
 NAVIGATION
**********************************************/
nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}


/**********************************************
 FOOTER
**********************************************/
footer {
  font-size: 0.75em;
  text-align: center;
  padding-top: 50px;
  clear: both;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}


/**********************************************
 PORTFOLIO
**********************************************/
#portfolio {
  margin: 0;
  padding: 0;
  list-style: none;
}

#portfolio li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7;
}

#portfolio li a p{
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #b5b5b7;
}



/**********************************************
 ABOUT
**********************************************/
.avatar {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100%;
}


/**********************************************
 CONTACT
**********************************************/
.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
}

.contact-info li.twitter a{
  background-image: url('../img/twitter.png');
}



/**********************************************
 COLORS
**********************************************/
body {
  background-color: #ffffff;
  color: #999;
}

/* title text */
h1, h2 {
  color: #ffffff;
}

/* dark header and orange shade nav bar */
header {
  background-color: #252839;
  border-color: #677077;
}

/* nav controls */
nav {
  background-color: #677077;
}

nav a, nav a:visited {
  color: #ffffff;
}

nav a.selected, nav a:hover {
  color: #f2b632;
}

/**********************************************
 LOGIN AND REGISTER
**********************************************/
.container {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  padding-top: 15em;
  font-size: 0.75em;
}

.login {
  width: 450px;
}

.input-txt {
  width: 100%;
  padding: 20px 10px;
  border: none;
  font-size: 1em;
  color: #4478a0;
  font-weight: bold;
  border-bottom: 1.5px dotted #252839;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: #4478a0 0.5s ease-in-out;
  -o-transition: #4478a0 0.5s ease-in-out;
  -webkit-transition: #4478a0 0.5s ease-in-out;
  transition: #4478a0 0.5s ease-in-out;
}
.input-txt:-moz-placeholder {
  color: #677077;
  text-transform: uppercase;
}
.input-txt:-ms-input-placeholder {
  color: #677077;
  text-transform: uppercase;

}
.input-txt::-webkit-input-placeholder {
  color: #677077;
  text-transform: uppercase;
}

.less-padding {
  padding: 15px 10px;
}


.login-footer {
  margin: 10px 0;
  overflow: hidden;
  float: left;
  width: 100%;
}

.register-login-link {
  color: #4478a0
}
.btn {
  padding: 15px 30px;
  border: none;
  background: white;
  color: #4478a0;
}

.btn--right {
  float: right;
}

/**********************************************
 FILTER BOX
**********************************************/

.select-style {
    font-size: 0.75em;
    display: inline-block;
    padding: 0;
    margin: 0 1.5% 2.5% 2.5% ;
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    background-color: #fff;

    background: #fff url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style select:focus {
    outline: none;
}

/**********************************************
 FORMS-RELATED CSS
**********************************************/
.basic-flash {
  margin: 0 0 0 2.5%;
  padding-top: 15em;
  font-size: 0.75em;
}

.text-area{
    font-size: 1em;
    color: #677077;
    font-weight: bold;
    margin: 2.5% 0 2.5% 0;
	height:60px;
	border:2px dashed #D1C7AC;
	width: 450px;
}

.submit-btn {
    margin: 0 1.5% 2.5% 2.5% ;
    background-color: #f2b632;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
}

.approve-color {
    background-color: #6ab47b;
}
.reject-color {
    background-color: #677077;
}

.admin-team-display {
    font-size: 0.75em;
    display: inline-block;
    padding: 0;
    margin: 0 1.5% 2.5% 2.5% ;
}