{% extends "base.html" %}
{% block header %}
    <nav>
      <ul>
        <li><a href="/">STORE</a></li>
        {% if not permissions or permissions == "gamer" %}
        <li><a href="/library/">LIBRARY</a></li>
        {% elif permissions == "dev" %}
        <li><a href="/submit/">SUBMIT</a></li>
        {% elif permissions == "admin" %}
        <li><a href="evaluate.html">EVALUATE</a></li>
        {% endif %}
        <li><a href="community.html">COMMUNITY</a></li>
      </ul>
    </nav>
{% endblock %}