{% extends "base.html" %}
{% block header %}
    <nav>
      <ul>
        <li><a href="/">STORE</a></li>
        <li><a href="/evaluate/" class="selected">EVALUATE SUBMISSIONS</a></li>
      </ul>
    </nav>
{% endblock %}
{% block content %}
  <div id="wrapper">
    <!--<section class="admin-team-display">-->
        <!--<p>GAME SUBMISSIONS UNDER: {{team}} </p>-->
    <!--</section>-->
    <!-- gallery section -->
    <section class="basic-flash">
    {% with messages = get_flashed_messages() %}
       {% if messages %}
       <p class="register-login-link">
           {% for message in messages %}
           {{ message }}
           {% endfor %}
       </p>
       {% endif %}
    {% endwith %}
    </section>
    <section>
      <form method="GET" action="/game/">
      {% for game in games %}
      <ul id="portfolio">
        <li>
            <input type="image" src="{{game.url}}" name="gameid" value="{{game.gameid}}" />
            <p>{{game.title}}</p>
        </li>
      </ul>
        {% endfor %}
      </form>
    </section>
  </div>
{% endblock %}
