{% extends "base.html" %}
{% block header %}
    <nav>
      <ul>
        <li><a href="/">STORE</a></li>
        {% if not permissions or permissions == "gamer" %}
        <li><a href="/library/">LIBRARY</a></li>
        {% elif permissions == "dev" %}
        <li><a href="/submit/">SUBMIT GAME</a></li>
        {% elif permissions == "admin" %}
        <li><a href="/evaluate/">EVALUATE SUBMISSIONS</a></li>
        {% endif %}
        <li><a href="/rate/">WRITE REVIEWS</a></li>
      </ul>
    </nav>
{% endblock %}
{% block content %}
  <div id="wrapper">
      {% with messages = get_flashed_messages() %}
       {% if messages %}
       <p class="register-login-link no-top-margin">
           {% for message in messages %}
           {{ message }}
           {% endfor %}
       </p>
       {% endif %}
       {% endwith %}
    <section>
        {% if permissions == 'admin' and not game.is_reviewed %}
        <form method="POST" action="/evaluate/">
            <button type="submit" name="approve" class="submit-btn btn--right approve-color">APPROVE  </button>
            <button type="submit" name="reject" class="submit-btn btn--right reject-color">REJECT  </button>
        </form>
        {% elif game.in_library %}
        <button type="button" disabled class="submit-btn btn--right approve-color">OWNED  </button>
        {% else %}
        <form method="post" action="/buy/">
            <button type="submit" name="{{game.gameid}}" class="submit-btn btn--right approve-color">BUY  </button>
        </form>
        {% endif %}
      <img src="{{game.url}}" class="banner" />
        <h3 class="game-description">{{game.title}}</h3>
        <h6>GENRE: {{game.genre}} | GAMEPLAY: {{game.gameplay}} | PRICE: {{game.price}}</h6>
        {% for req in sysreqs %}
        <h6 class="game-reqs"><i>{{req.os}}</i> : {{req.graphics}} | {{req.processor}}</h6>
        {% endfor %}
        <h6 class="game-overview">{{game.description}}</h6>
    </section>

    {% if permissions != 'admin' %}
    <section>
        <h4 class="game-reviews">REVIEWS</h4>
        {% for review in reviews %}
        <h6 class="review-rating">{{review.name}} rated this game {{review.stars}} out of 5:</h6>
        <h6 class="review-commentary">{{review.commentary}}</h6>
        {% endfor %}
    </section>
    {% endif %}
  </div>
{% endblock %}