{% extends "base.html" %}
{% block header %}
    <nav>
      <ul>
        <li><a href="/">STORE</a></li>
        {% if not permissions or permissions == "gamer" %}
        <li><a href="/library/">LIBRARY</a></li>
        <li><a href="/rate/">WRITE REVIEWS</a></li>
        {% elif permissions == "dev" %}
        <li><a href="/submit/">SUBMIT GAME</a></li>
        {% elif permissions == "admin" %}
        <li><a href="/evaluate/">EVALUATE SUBMISSIONS</a></li>
        {% endif %}</ul>
    </nav>
{% endblock %}
{% block content %}
  <div id="wrapper">
    <section>
        {% if permissions == 'admin' %}
            {% if not game.is_reviewed %}
            <form method="POST" action="/evaluate/">
            <button type="submit" name="approve" value={{game.gameid}} class="submit-btn btn--right approve-color">APPROVE  </button>
            <button type="submit" name="reject" value={{game.gameid}} class="submit-btn btn--right reject-color">REJECT  </button>
            </form>
            {% endif %}
        {% elif game.in_library %}
        <button type="button" disabled class="submit-btn btn--right approve-color">OWNED  </button>
        {% elif permissions == 'dev' %}
        <button type="button" disabled class="submit-btn btn--right reject-color">PURCHASE DISALLOWED FOR DEVELOPERS</button>
        {% else %}
        <form method="post" action="/buy/">
            <button type="submit" name="gameid" value="{{game.gameid}}" class="submit-btn btn--right approve-color">BUY  </button>
        </form>
        {% endif %}
      <img src="{{game.url}}" class="banner" />
        <h3 class="game-description">{{game.title}}</h3>
        <h5>GENRE: {{game.genre}} | GAMEPLAY: {{game.gameplay}} | PRICE: {{game.price}}</h6>
        {% for req in sysreqs %}
        <h5 class="game-reqs"><b>{{req.os}}</b> : {{req.graphics}} | {{req.processor}}</h6>
        {% endfor %}
        <h6 class="game-overview">{{game.description}}</h6>
    </section>

    {% if permissions != 'admin' %}
    <section>
        <h4 class="game-reviews">REVIEWS</h4>
        {% for review in reviews %}
        <h6 class="review-rating">{{review.name}} rated this game {{review.stars}} out of 5:</h6>
        <pre class="review-commentary">{{review.commentary}}</pre>
        {% endfor %}
    </section>
    {% endif %}
  </div>
{% endblock %}