{% extends "base.html" %}
{% block header %}
    <nav>
      <ul>
        <li><a href="/" class="selected">STORE</a></li>
        {% if not permissions or permissions == "gamer" %}
        <li><a href="/library/">LIBRARY</a></li>
        {% elif permissions == "dev" %}
        <li><a href="/submit/">SUBMIT GAME</a></li>
        {% elif permissions == "admin" %}
        <li><a href="/evaluate/">EVALUATE SUBMISSIONS</a></li>
        {% endif %}
        <li><a href="/rate/">WRITE REVIEWS</a></li>
      </ul>
    </nav>
{% endblock %}
{% block content %}
  <div id="wrapper">
    <section>
        <form method="POST" action="/filter/">
        <div class="select-style">
          <select name="os">
            <option value="all">OS</option>
            <option value="mac">Mac</option>
            <option value="windows">Windows</option>
            <option value="linux">Linux</option>
          </select>
        </div>
        <div class="select-style">
          <select name="gameplay">
            <option value="all">GAMEPLAY</option>
            <option value="single-player">Single-Player</option>
            <option value="multi-player">Multi-Player</option>
            <option value="both">Both</option>
          </select>
        </div>
        <div class="select-style">
          <select name="genre">
            <option value="all">GENRE</option>
            <option value="moba">MOBA</option>
            <option value="puzzle">Puzzle</option>
            <option value="fps">FPS</option>
            <option value="survival">Survival</option>
            <option value="strategy">Strategy</option>
            <option value="rpg">RPG</option>
            <option value="sports">Sports</option>
            <option value="simulation">Simulation</option>
            <option value="indie">Indie</option>
          </select>
        </div>
        <button type="submit" class="submit-btn">FILTER  </button>
        </form>
    </section>
    <!-- gallery section -->
    <section>
      <form method="GET" action="/game/">
      {% for game in games %}
      <ul id="portfolio">
        <li>
            <input type="image" src="{{game.url}}" value="{{game.gameid}}" />
            <p>{{game.title}}</p>
        </li>
      </ul>
        {% endfor %}
    </section>
  </div>
{% endblock %}