{% extends "base.html" %}
{% block header %}
    <nav>
      <ul>
        <li><a href="/">STORE</a></li>
        <li><a href="/library/" class="selected">LIBRARY</a></li>
        <li><a href="/rate/">WRITE REVIEWS</a></li>
      </ul>
    </nav>
{% endblock %}
{% block content %}
  <div id="wrapper">
    <section>
      <form method="GET" action="/game/">
      {% for game in games %}
      <ul id="portfolio">
        <li>
            <input type="image" src="{{game.url}}" name="gameid" value="{{game.gameid}}" />
            <p>{{game.title}}</p>
        </li>
      </ul>
      {% endfor %}
      </form>
    </section>
  </div>
{% endblock %}