{% extends "base.html" %}
{% block header %}
    <nav>
      <ul>
        <li><a href="/">STORE</a></li>
        <li><a href="/library/" class="selected">LIBRARY</a></li>
        <li><a href="/rate/">WRITE REVIEWS</a></li>
      </ul>
    </nav>
{% endblock %}
{% block content %}
  <div id="wrapper">
    <!-- gallery section -->
    <section>
      {% for game in games %}
      <ul id="portfolio">
        <li>
            <img src="{{game.url}}" alt="">
            <p>{{game.title}}</p>
          </a>
        </li>
      </ul>
        {% endfor %}
    </section>
{% endblock %}