{% extends "base_nav.html" %}
{% block content %}
<div class="container">
   <div class="login">
       {% with messages = get_flashed_messages() %}
       {% if messages %}
       <p class="register-login-link">
           {% for message in messages %}
           {{ message }}
           {% endfor %}
       </p>
       {% endif %}
       {% endwith %}
      <form method="post">
        <input type="text" name="uid" placeholder="Your UID" required="required" class="input-txt" />
        <input type="text" name="password" placeholder="Your password" required="required" class="input-text" />
          <div class="login-footer">
             <a href="/register_gamer/" class="register-login-link">
              <span>ಠ╭╮ಠ</span>
              I need a gamer uid
            </a> <br>
              <a href="/register_dev/" class="register-login-link">
              <span>ಠ╭╮ಠ</span>
              I need a developer uid
            </a>
            <button type="submit" class="btn btn--right">Sign in  </button>
          </div>
      </form>
  </div>
</div>
{% endblock %}
