{% extends "base.html" %}
{% block content %}
<div class="container">
   <div class="login">
      <form method="post">
        <input type="text" name="uid" placeholder="Your Chosen UID" required="required" class="input-txt" />
          <div class="login-footer">
             <a href="/register_gamer/" class="register-login-link">
              <span>ಠ╭╮ಠ</span>
              I need a gamer uid
            </a> <br>
              <a href="/register_dev/" class="register-login-link">
              <span>ಠ╭╮ಠ</span>
              I need a developer uid
            </a>
            <button type="submit" class="btn btn--right">Sign in  </button>
          </div>
      </form>
  </div>
</div>
{% endblock %}
