{% extends "base.html" %}
{% block content %}
    <div id="wrapper">
    <!-- Filter/Sort -->
    <section>
      <select>
        <option value="">Operating System</option>
        <option value="Mac">Mac</option>
      </select>
      <select>
        <option value="">Gameplay</option>
        <option value="multiplayer">Multiplayer</option>
      </select>
      <select>
        <option value="">Genre</option>
        <option value="fps">First Person Shooter</option>
      </select>
      <select>
        <option value="">Sort by...</option>
        <option value="title DESC">Alphabetical</option>
      </select>
    </section>

    <section>
      {% for game in games %}
      <ul id="portfolio">
        <li>
            <img src="{{game.url}}" alt="">
            <p>{{game.title}}</p>
          </a>
        </li>
      </ul>
      {% endfor %}
    </section>
{% endblock %}